---
import { Leaflet, Circle, Popup } from "astro-leaflet";
import { Icon } from 'astro-icon/components'

// 50°16'18.4"N 18°53'14.1"E
---

<footer>
    <div>
        <h3>Tu dojadę: </h3>
        <Leaflet id="Leaflet" options={{
            tileLayer: 'https://{s}.google.com/vt/lyrs=y&hl=pl&x={x}&y={y}&z={z}',
            tileLayerOptions: {
                subdomains: [ 'mt0', 'mt1', 'mt2', 'mt3' ],
                attribution: 'Map data &copy; Google',
            },
            
            center: [50.27186752, 18.88749920],
            zoom: 10,
            
        }}>
            <Circle latlng={[50.27186752, 18.88749920]}, options={{
                color: 'red',
                fillColor: '#f03',
                fillOpacity: 0.5,
                radius: 16000
            }}>
                <Popup content="Tutaj możemy się spotkać" />
            </Circle>
        </Leaflet>
        <div class="social">
            <a href="https://facebook.com">
                <Icon id="facebook" name="mdi:facebook" size="48"/>
            </a>
            <a href="https://instagram.com">
                <Icon id="instagram" name="mdi:instagram"  size="48"/>
            </a>
        </div>
    </div>
    <nav>
        <div class="linki">
            <a href="">Strona główna</a>
            <a href="">O mnie</a>
            <a href="">Oferta</a>
            <a href="">Sklep</a>
        </div>
        <div class="linki">
            <a href="">Polityka prywatności</a>
            <a href="">Regulamin</a>
        </div>
        <div class="linki">
            <span>Kontakt</span>
            <a href=""> <Icon name="mdi:phone" /> 570 622 745</a>
            <a href=""> <Icon name="mdi:email" /> zocha.lubi@gmail.com</a>
            <a href=""> <Icon name="mdi:factory" /> NIP: 12 34 567 890</a>
            <a href=""> <Icon name="mdi:location" /> Ruda Śląska</a>
        </div>
    </nav>
</footer>

<style>
    .social {
        position: relative;
        bottom: calc(48px + 3rem);
        left: 1rem;
        z-index: 999;
        display: flex;
        gap: 1.4rem;
        background-color: aliceblue;
        width: fit-content;
        padding: 0.7rem;
        justify-content: center;
        align-items: center;
        border-radius: 0.5rem;
    }
    span {
        font-size: larger;
    }
    footer {
        background-color: aliceblue;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        gap: 3rem;
        padding: 1rem;
    }
    #Leaflet {
        width: 25rem;
        height: 25rem;
        align-self: center;
    }
    nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
    }
    .linki {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
</style>