---
import { Icon } from "astro-icon/components"
import { ciemny_braz, jasnoszary } from "./kolorki.mjs"
import { Carousel } from 'webcoreui/astro';


---

<section>
    <Carousel  items={3} pagination={{ type: 'dots', showChevrons: true }} debounce={0}>
        <li>
            <div id="card_opinie">
            <p>Zosia nie wciska jednego schematu każdemu. Patrzy na konkretnego psa, jego emocje, historię, temperament i dopiero wtedy dobiera rozwiązania. Widać, że dobro psa jest dla niej absolutnym priorytetem, a nie szybki „efekt wow” pod Instagrama. Uczy, jak czytać sygnały psa, jak szanować jego granice i jak budować relację, a nie tylko posłuszeństwo. Zosia to behawiorystka z topki. Mądra, świadoma, ciepła, a przy tym konkretna i skuteczna. Jeśli ktoś chce naprawdę zrozumieć swojego psa i przestać działać metodą prób i błędów – to jest właściwy adres. 10/10, polecam bez zawahania!</p>
            <h4>Julia</h4>
            <div>
                <Icon name="mdi:star" color={"yellow"} size="1.2rem"/>
                <Icon name="mdi:star" color={"yellow"} size="1.2rem"/>
                <Icon name="mdi:star" color={"yellow"} size="1.2rem"/>
                <Icon name="mdi:star" color={"yellow"} size="1.2rem"/>
                <Icon name="mdi:star" color={"yellow"} size="1.2rem"/>
            </div>
         </div>
        </li>
        <li>
            <div id="card_opinie">
            <p></p>
            <h4></h4>
            <div>
                <Icon name="mdi:star" color={"yellow"} size="1.2rem"/>
                <Icon name="mdi:star" color={"yellow"} size="1.2rem"/>
                <Icon name="mdi:star" color={"yellow"} size="1.2rem"/>
                <Icon name="mdi:star" color={"yellow"} size="1.2rem"/>
                <Icon name="mdi:star" color={"yellow"} size="1.2rem"/>
            </div>
         </div>
        </li>
        <li>
            <div id="card_opinie">
            <p></p>
            <h4></h4>
            <div>
                <Icon name="mdi:star" color={"yellow"} size="1.2rem"/>
                <Icon name="mdi:star" color={"yellow"} size="1.2rem"/>
                <Icon name="mdi:star" color={"yellow"} size="1.2rem"/>
                <Icon name="mdi:star" color={"yellow"} size="1.2rem"/>
                <Icon name="mdi:star" color={"yellow"} size="1.2rem"/>
            </div>
         </div>
        </li>
        
    </Carousel>
</section>
<!-- 
<script defer>
        let opinie = [
            {
                tresc: "Zosia nie wciska jednego schematu każdemu. Patrzy na konkretnego psa, jego emocje, historię, temperament i dopiero wtedy dobiera rozwiązania. Widać, że dobro psa jest dla niej absolutnym priorytetem, a nie szybki „efekt wow” pod Instagrama. Uczy, jak czytać sygnały psa, jak szanować jego granice i jak budować relację, a nie tylko posłuszeństwo. Zosia to behawiorystka z topki. Mądra, świadoma, ciepła, a przy tym konkretna i skuteczna. Jeśli ktoś chce naprawdę zrozumieć swojego psa i przestać działać metodą prób i błędów – to jest właściwy adres. 10/10, polecam bez zawahania!",
                autor: "Julia",
            },
            {
                tresc: "najlepsza ever",
                autor: "Jan Kowalski",
            },
            {
                tresc: "najlepsza ever",
                autor: "Jan Kowalski",
            },
        ];
        function display()
        {
            document.querySelector("#card_opinie h4").innerText = opinie[index].autor;
            document.querySelector("#card_opinie p").innerText = opinie[index].tresc;
            let status = "";
            let empty = "<Icon name='mdi:circle' color={'white'}/>";
        }
        let index = 0;
        function next()
        {
            index++;
            if(index >= opinie.length)
                index = 0;
            display();
        }
        function previous()
        {
            index--;
            if(index < 0)
                index = opinie.length;
            display();
            document.getElementById("card_opinie").style.translate = "100px";
        }
        display();
</script> -->

<style define:vars={{ciemny_braz, jasnoszary}}>
    .slide {
        width: 100%;
        color: aliceblue;
    }
    section {
        min-height: 30rem;
        background-color: var(--ciemny_braz);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.8rem;
    }
    #slide-status {

    }
    #controls {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    #card_opinie {
        background-color: var(--jasnoszary);
        color: rgb(0, 0, 0);
        padding: 1rem;
        border-radius: 0.5rem;
        max-width: clamp(20rem, 50%, 40rem);
        min-height: 14rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 2rem;
    }
</style>