---
import zofiaIBari from '../assets/zInuNaRekach.png';
import bari from '../assets/bari.jpg';
import Image from 'astro/components/Image.astro';

---

<section>
    <img id="image2" alt={bari.format} src={bari.src}>
    <img id="image" alt={zofiaIBari.format} src={zofiaIBari.src}/>
    <div id="card">
        <h2>Cześć, miło cię widzieć!</h2>
        <p>Nazywam się Zofia Talarczyk i jestem certyfikowaną trenerką i behawiorystką psów. 
            Już od 2021 roku aktywnie dzielę się wiedzą dotyczącą psów w mediach społecznościowych,
            a swoją praktyką sięgam od 2019 roku. Wiedza, jaką zdobyłam ucząc się na technika
            weterynarii (a później pracy w lecznicach) pozwala mi podejść do przyczyn zachowania
            nie tylko ze względu na zachowanie, ale również na zdrowie i ogólny dobrostan. 
            Aktualnie najwięcej czasu spędzam ucząc opiekunów jak rozmawiać ze swoimi psami oraz 
            zajmując się czworonogami na stole groomerskim. 
        W pracy behawiorysty największą uwagę przykładam do zaspokajania potrzeb Naszych czworonożnych
         przyjaciół oraz budowaniu poczucia bezpieczeństwa tak, żeby pies robił coś,
         bo ufa swojemu przewodnikowi, a nie dlatego, że się go boi. </p>
        <p>Odezwij się do mnie i zobacz, jak mogę Tobie pomóc!</p>        
        <button>OFERTA</button>
    </div>
</section>

<style>
    p {
        font-size: clamp(0.9rem, 1vw, 1.3rem);
    }

    #image {
        max-height: 100%;
        height: 90%;
        width: auto;
        position: absolute;
        right: 20%;        
        bottom: 0rem;
    }
    #image2 {      
        filter:blur(1px) contrast(0.8) brightness(0.425);
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    section {
        height: clamp(30rem, 90dvh, 100rem);
        width: 100%;
        position: relative;
        background-color: rgb(9, 118, 102);
        filter:drop-shadow(1px 1px 3px var(--color-shadow));
    }
    #card {
        position: absolute;
        top: 3rem;
        left: clamp(1rem, 8vw, 20rem);
        background-color: var(--color-bg2);
        color: var(--color-text2);
        border-radius: 0.5rem;
        padding: 1rem;
        filter: drop-shadow(1px 1px 4px color-mix(in srgb, var(--color-shadow) 30%, black)) opacity(0.9);
        width: clamp(25rem, 40%, 50rem);
        display: flex;
        flex-direction: column;
        max-height: 90%;
    }
    button {
        border: 0px;
        color: var(--color-text2);
        background-color: var(--color-primary);
        padding: 1rem;
        border-radius: 0.5rem;
        filter: drop-shadow(0.1px 0.1px 3px rgb(38, 47, 0));
        max-width: 15rem;
        font-size: larger;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    button:hover {
        filter: drop-shadow(1px 1px 3px var(--color-shadow))  saturate(0.8);
        cursor: pointer;
    }

    @media screen and (max-width: 950px) {
        #image {
            right: 2rem;
        }
    }
    @media screen and (max-width: 600px) {
        #image {
            left: 0;
            max-width: 100%;
            height: auto;
        }
        #card {
            width: calc(100% - 2rem - 8dvh);
            filter: drop-shadow(1px 1px 4px var(--color-shadow)) opacity(0.95);
            display: block;
            position: absolute;
            bottom: 2rem;
            top: auto;
        }
        section {
            height: 100dvh;
            align-items:end;
            justify-content: flex-end;
            display: flex;
        }
    }
</style>