---
import zofiaIBari from '../assets/zInuNaRekach.png'
import bari from '../assets/bari.jpg'
import Image from 'astro/components/Image.astro';
var zdjurl = zofiaIBari.src;
---

<section>
    <div id="image2">
    <img id="image" alt={zofiaIBari.format} src={zofiaIBari.src}/>
    <div id="card">
        <h2>Jestem Zofia</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque ipsa a voluptatibus, optio enim sequi voluptatum quae provident. Sint quidem unde aspernatur quam autem maiores obcaecati ab cum, nemo illum.</p>
        <button>Skontaktuj się za mną</button>
    </div>
</section>

<style define:vars={{zdjurl}}>
    #image {
        bottom: 0rem;
        max-height: 100%;
        aspect-ratio: 1;
        position: absolute;
        right: 1rem;        
    }
    #image2 {
        background-image: url(var(--zdjurl)); /* Replace with your image path */
        background-position: center center; /* Center horizontally & vertically */
        background-repeat: no-repeat;       /* Prevent tiling */
        background-size: cover;             /* Fill container, zoom if needed */
        background-attachment: fixed;       /* Optional: parallax-like effect */
        filter:blur(1px) contrast(0.8) brightness(0.425);
        display:block;
        height: 30rem;
        width: 100%;
    }
    section {
        max-height: 40rem;
        display: flex;
        justify-content: center;
        background-color: cadetblue;
    }
    #card {
        position: absolute;
        top: 1rem;
        left: 1rem;
        background-color: rgb(65, 104, 21);
        border-radius: 0.5rem;
        padding: 1rem;
        filter: drop-shadow(1px 1px 4px grey) opacity(0.9);
        width: 40%;
        height: 45%;
        max-width: 40rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position:absolute;
    }
    button {
        border: 0px;
        color: whitesmoke;
        background-color: darkcyan;
        padding: 1rem;
        border-radius: 0.5rem;
        filter: drop-shadow(0.1px 0.1px 3px grey);
        max-width: 15rem;
        font-size: larger;
        position: absolute;
        bottom: 2rem;
        right: 2rem;
    }
    button:hover {
        filter: drop-shadow(1px 1px 3px grey)  saturate(0.8);
        cursor: pointer;
    }
</style>