---
import '@fontsource/roboto';
---

<!doctype html>
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="/src/styles/global.css">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/src/assets/logo2.png" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Pjeski talarka</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: 'Roboto', sans-serif;
	}
	a {
		text-decoration: none;
		color: var(--color-text);
		font-size: larger;
	}
	a:hover {
		text-decoration: underline;
		filter: drop-shadow(0.2px 0.2px 0.3px var(--color-shadow));
	}
</style>

<style lang="scss">
    // @use 'webcoreui/styles' as *;
    // @include setup((
    //     fontRegular: '/fonts/Inter-Regular.woff2',
    //     fontBold: '/fonts/Inter-Bold.woff2'
    // ));
</style>